<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Exam</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
</head>
<body>
<div class="container">
    <div class="col-sm-12 header" id="header">
        <h2 id="site-name">Exam system</h2>
        <h4 id="site-slogan">Take exams with pleasure</h4>
    </div>

    <div class="col-sm-6 header">
        <h3 th:text="'Hello, ' + ${name} + '!'"></h3>
        <h3>Exam in process</h3>
    </div>

    <div class="container-fluid" style="float: left">
        <form th:object="${exam}" th:action="@{/student/exam-process}" th:method="put" class="form-horizontal">
            <div class="control-group" style="float: left; width: 40%">
                <label class="control-label" style="float: left">Task 1:</label>
                <textarea readonly style="text-align: left; font-weight: bold" rows="2" cols="61"
                          class="control-label" th:text="*{taskFirst.text}">
                </textarea>
                <div class="controls">
                    <textarea rows="15" cols="70" th:field="*{answerFirst}"></textarea>
                </div>
            </div>
            <div class="control-group" style="float: right; width: 40%; margin-right: 5%">
                <label class="control-label" style="float: left">Task 2:</label>
                <textarea readonly style="text-align: left; font-weight: bold" rows="2" cols="61"
                          class="control-label" th:text="*{taskSecond.text}">
                </textarea>
                <div class="controls">
                    <textarea rows="15" cols="70" th:field="*{answerSecond}"></textarea>
                </div>
            </div>

            <div class="form-actions" style="position:absolute; bottom: 10%">
                <button type="submit">Upload</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>