<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Getting started</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
</head>
<body>
<div class="container">
    <div class="col-sm-12 header" id="header">
        <h2 id="site-name">Exam system</h2>
        <h4 id="site-slogan">Take exams with pleasure</h4>
    </div>

    <div class="container-fluid" style="width: 70%; float: left; margin-left: 3%">
        Something important
    </div>
    <div class="container-fluid" style="float: right; margin-right: 10%">
        <ul>
            <li><a th:href="@{/login}">Sign in</a>
            <li><a th:href="@{/register}">Sign up</a>
            <li><a th:href="@{/logout}">Sign out</a>
        </ul>
    </div>
</div>
</body>
</html>