<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marks</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
</head>
<body>
<div class="container">
    <div class="col-sm-12 header" id="header">
        <h2 id="site-name">Exam system</h2>
        <h4 id="site-slogan">Take exams with pleasure</h4>
    </div>
    <div class="container-fluid" style="float: right; margin-right: 10%">
        <ul>
            <li><a th:href="@{/login}">Sign in</a>
            <li><a th:href="@{/register}">Sign up</a>
            <li><a th:href="@{/logout}">Sign out</a>
            <li><a th:href="@{/prepod/profile}">Profile</a>
        </ul>
    </div>

    <div class="col-sm-6 header">
        <h3 th:text="'Hello, ' + ${name} + '!'"></h3>
    </div>

    <div class="container-fluid" style="float: left; width: 70%; margin: 2ch">
        <h4 th:text="|${student.user.name} ${student.user.surname}|">Name Surname</h4>
        <h4>Exam id</h4>
        <h4 th:text="${exam.id}">exam id</h4>
    </div>

    <div class="container-fluid" th:if="${student.exams.isEmpty()}" style="float: left; width: 70%; margin: 2ch">
        <h4>No exams were taken</h4>
    </div>

    <form th:action="@{|/prepod/marks-process/${student.id}/${exam.id}|}" method="post" class="form-horizontal">
        <div class="container-fluid" style="float: left; width: 70%; margin: 2ch">
            <table class="table table-bordered" th:unless="${student.exams.isEmpty()}">
                <tr>
                    <th>Exam id</th>
                    <th>Variants</th>
                    <th>Answers</th>
                    <th>Mark</th>
                </tr>
                <div th:each="exam : ${student.exams}">
                    <tr>
                        <td rowspan="2" th:text="${exam.id}">Exam id</td>
                        <td th:text="${exam.taskFirst.text}">Task1</td>
                        <td th:text="${exam.answerFirst}">Answer1</td>
                        <td rowspan="2">
                            <label style="font-weight: normal">Current mark: </label>
                            <label th:text="${exam.mark}">Current mark</label>
                            <input type="text" style="width: 100%" name="mark" id="mark"/>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${exam.taskSecond.text}">Task2</td>
                        <td th:text="${exam.answerSecond}">Answer2</td>
                    </tr>
                </div>
            </table>
            <div class="form-actions" style="margin: 1ch">
                <button type="submit">Submit</button>
                <div th:if="${param.saved}">
                    Changes saved
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</body>
</html>