<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Profile</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
</head>
<body>
<div class="container">
    <div class="col-sm-12 header" id="header">
        <h2 id="site-name">Exam system</h2>
        <h4 id="site-slogan">Take exams with pleasure</h4>
    </div>
    <div class="container-fluid" style="float: right; margin-right: 10%">
        <ul>
            <li><a th:href="@{/login}">Sign in</a>
            <li><a th:href="@{/register}">Sign up</a>
            <li><a th:href="@{/logout}">Sign out</a>
        </ul>
    </div>

    <div class="col-sm-6 header">
        <h3 th:text="'Hello, ' + ${name} + '!'"></h3>
    </div>

    <div class="container-fluid" th:if="${students.isEmpty()}" style="float: left; width: 70%; margin: 2ch">
        <h4>No students were registered</h4>
    </div>
    <div class="container-fluid" style="float: left; width: 70%; margin: 2ch">
        <table class="table table-bordered" th:unless="${students.isEmpty()}">
            <tr>
                <th>Student id</th>
                <th>Name Surname</th>
            </tr>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}">Student id</td>
                <td>
                    <a th:href="@{|/prepod/exams/${student.id}|}"
                       th:text="|${student.user.name} ${student.user.surname}|">Name Surname</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>